<div class="related-products-wrapper"> 
    {%assign related_products = product.metafields.related-products %} {%if
    related_products.size > 0 %} <h3>You might also like:</h3> {% for field in related_products %} {% assign site_url =
    shop.url | append: "/products/" %} {% assign relate_product_handle = field | last %} {% assign full_url = site_url |
    append: relate_product_handle %} <a href="{{full_url}}">
        <div class="related-product">
            <div class="related-product-image"
                style="background-image:url('{{all_products[relate_product_handle].featured_image|img_url}}')"> </div>
            <div class="related-product-name">{{all_products[relate_product_handle].title}}</div>
            <div class="related-product-price">{{all_products[relate_product_handle].price | money}}</div>
        </div>
        
    </a> {% endfor %}</div>{%endif%}