<!-- /templates/customers/login.liquid -->
<div class="min-h-screen w-11/12 sm:w-1/4 xl:w-1/5 mx-auto">
    <h2 class="text-2xl font-crimson py-10 font-bold">Login</h2>
    
    <div class="mr-auto flex flex-col justify-between items-start text-sm">
        {% form 'customer_login' %}
        <div class="flex flex-col justify-between items-start">
            {{ form.errors | default_errors }}
            <div class="grid grid-cols-2">
                <label class="mr-2" for="customer_email">Email Address</label>
                <input class="py-1 px-2" type="email" name="customer[email]" />
            </div>

            <div class="my-5 grid grid-cols-2">
                <label class="mr-2" for="customer_password">Password</label>
                <input class="py-1 px-2"  type="password" name="customer[password]" />
                
            </div>
            <div class="ml-auto">
                <input class="bg-green-custom text-white px-3 py-1" type="submit" value="Sign In" />
            </div>
            {% endform %}
        </div>
        <div class=" mt-20 ">
            <h2 class="text-xl font-crimson font-bold pb-10">Forgot Password?</h2>
            <div class="flex flex-col justify-between items-start">
                {% form 'recover_customer_password' %}
                <div class="flex flex-col justify-between items-start">
                    {{ form.errors | default_errors }}
                    <div class="mb-5 my-5 grid grid-cols-2">
                        <label class="mr-5" for="customer_email">Email Address</label>
                        <input class="py-1 px-2" type="email" name="email" />
                    </div>
                    <div class="ml-auto">
                        <input class="bg-green-custom text-white px-3 py-1" type="submit" value="Submit" />

                    </div>

                    {% endform %}
                </div>

            </div>

        </div>

    </div>

</div>